<div class="cartCard">
  <h1 class="cartCard__title">Details des rendez-vous</h1>
  <ng-container *ngIf="cartAppointments$ | async as appointments">
    <ng-container *ngIf="appointments.length > 0; else emptyList">
      <div class="table-responsive">
        <table class="table table-striped mlr-10">
          <thead class="thead -primary">
            <tr>
              <th th scope="col">designation</th>
              <th th scope="col">duree (en mn)</th>
              <th th scope="col">prix (en Ar)</th>
              <th th scope="col">employe</th>
              <th th scope="col">Date et heure debut</th>
              <th th scope="col">Date et heure fin</th>
              <th th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments; let i = index">
              <td>{{ appointment.service?.designation }}</td>
              <td>{{ appointment.service?.duree }}</td>
              <td>{{ appointment.service?.prix }}</td>
              <td>
                <select #selectElem (change)="onSelect(selectElem.selectedIndex, i)">
                  <option value="">Choisir un employe</option>
                  <option *ngFor="let employe of employes; let j = index" [value]="i">{{ employe.name }}  {{ employe.firstname }}</option>
                </select>
              </td>
              <td>                 
                <input
                id="requestdate" 
                type="datetime-local" 
                [(ngModel)]="appointment.startDate"
                (change)="formatDateTime(appointment)"
                />                                                    
              </td>
              <td>
                {{ this.endDateStr }}
              </td>
              <td>
                <button color="secondary" (click)="removeProductFromCart(i)" cButton>
                  <svg cIcon name="cil-trash" class="sm"></svg>
                </button>                
              </td>
            </tr>
          </tbody>
        </table>
      </div>                                            
    </ng-container>
  </ng-container>        
  <h4 class="total">duree total: {{ dureeTotal }} mn</h4>
  <h4 class="total">Total: {{ prixTotal }} Ar</h4>            
  
  <form>
    <button type="submit" class="btn btn-primary">Calculer</button>
    
    <button  class="btn btn-primary" *ngIf="loading">
      <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
      Loading...      
    </button>        
    <button  class="btn btn-primary" (click)="validateRv()" *ngIf="!loading">
      Valider le rendez-vous
    </button>
  </form>                  
    
</div>
<ng-template #emptyList>
  Il n'y a pas de rendez-vous pour le moment, pensez à consulter nos services. 
</ng-template>